@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@*Refference*@
@* Start Bootstrap, 2025.Bootstrap Templates & Themes.[online] Available at: https://startbootstrap.com/themes#google_vignette [Accessed 1 September 2025] *@